.audience{
    background-color: $white;
    align-items: flex-start;
    padding: 3vh;


    h2{
        margin: 0;
        font-size: 3rem;
    }

        img{
            max-width: 60%;
        }


}