.followers{
    background-color: $purple-500;
    padding-top: 3vh;
    color: $white;

    img{
        width: 70%;
    }

    h2{
        margin: 4vh auto 2vh auto;
        max-width: 50%;
    }

}