.maintain{
    background-color: $yellow-500;

    h2{
        margin-top: 16px;
        padding-left: 16px;
    }


    img{
        max-width: 50%;
        align-self: flex-start;
        padding-left: 16px;
    }
}