.use-ai{
    background-color: $yellow-500;
    align-items: flex-start;


    h2{
        padding: 0 16px;
    }

    img{
        max-width: 60%;
        padding-bottom: 16px;
        padding-left: 16px;
    }
}